@import "tailwindcss";


@layer base {
  body {
    background-color: var(--color-gray-900);
  }
  
  * {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
  }
  
  ::selection {
    background-color: var(--color-pink-400);
    --tw-text-opacity: 1;
    color: rgb(0, 0, 0);
  }
}
